/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/log/
/pkg/
/spec/reports/
/tmp/
/node_modules/

# rspec failure tracking
.rspec_status

# yarn
app/assets/builds/
node_modules/
yarn-debug.log*
yarn-error.log*
