form:has(.query-input) {
  --modal-height: 0rem;
}

.query-input {
  position: relative;
  display: grid;
  grid-template-areas: "input button" "modal modal";
  grid-template-columns: 1fr auto;
  grid-template-rows: auto var(--modal-height);
  border: 1px solid rgba(0, 0, 0, 0);
  margin-bottom: 0;
  z-index: 1;
  transition: 125ms;
  background: white;
  overflow: hidden;

  &:has(.query-modal[data-open]) {
    border-color: rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
    margin: -0.5rem;
    padding: 0.5rem;
    margin-bottom: calc(-0.5rem - var(--modal-height));
    border-radius: 0.5rem;
  }

  input[type="search"] {
    grid-area: input;
    background: transparent;
    caret-color: black;
  }

  &[data-tables--query-input-query-value] input[type="search"] {
    // hide un-styled text when highlights are visible
    color: transparent;
  }

  button {
    grid-area: button;
    flex: 0;
  }

  .highlight {
    grid-area: input;
    border: 2px solid transparent;
    color: black;
    z-index: -1;
    font-size: 1rem;
    padding-block: 1px;
    padding-inline: 2px;

    .value {
      color: #666666;
    }
  }
}

.query-modal {
  grid-area: modal;
  margin-top: 0.5rem;
  background: white;
  border-radius: 4px;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  display: grid;
  grid-template-areas: "header" "content" "footer";
  grid-template-rows: auto 1fr auto;

  &[data-open] {
    opacity: 1;
    pointer-events: unset;
  }

  header {
    grid-area: header;
  }

  .content {
    grid-area: content;
  }

  dl {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    grid-template-columns: auto 1fr;
    gap: 0 1rem;
  }

  dt {
    grid-column-start: 1;
    font-weight: bold;
  }

  dd {
    color: #666;
  }

  .error {
    background: #fff2f2;
    border-bottom: 1px solid #fdd3d3;
    padding: 0.5rem 1rem;

    code {
      font-weight: bold;
    }
  }

  .footer {
    grid-area: footer;
    display: flex;
    justify-content: flex-end;
    padding-block: 1rem;
  }
}
