.katalyst--summary-table {
  --table-min-width: min(60ch, 100cqi);
  --table-max-width: 100%;
  --label-min-width: min(20ch, 33cqi);
  --label-width: clamp(12ch, 33cqi, 30ch);

  display: grid;
  grid-template-columns: fit-content(var(--label-width)) 1fr;
  align-items: stretch;

  width: fit-content;
  min-width: var(--table-min-width);
  max-width: var(--table-max-width);

  tbody,
  tr {
    display: contents;
  }

  th,
  td {
    overflow-wrap: anywhere;
    hyphens: auto;
  }

  th {
    min-width: var(--label-min-width);
  }
}

@container (width < 60ch) {
  .katalyst--summary-table {
    grid-template-columns: 1fr;
    min-width: unset;
    width: 100%;
  }
}

.katalyst--summary-table {
  :where([data-cell-type="enum"]) {
    [data-enum] {
      background: var(--tag-background-color, var(--color-tint, #f0ecf3));
      color: var(--tag-color, var(--color-dark, black));
      border-radius: var(--radius-s, 0.2rem);
      padding: var(--space-3xs, 0.25rem);
      font-size: var(--size-step--1, small);
    }
  }
}
