.katalyst--table {
  container-type: inline-size;

  th,
  td {
    text-align: var(--cell-text-align, left);
  }

  /* override text align in row headers to ensure the line up with other headers */
  tbody th {
    text-align: left;
  }

  caption {
    margin: var(--space-l, 2rem) 0;
  }

  /* Currency */

  :where([data-cell-type="currency"]) {
    --cell-text-align: right;
  }

  /* Enums */

  :where([data-cell-type="enum"]) {
    [data-enum] {
      background: var(--tag-background-color, var(--color-tint, #f0ecf3));
      color: var(--tag-color, var(--color-dark, black));
      border-radius: var(--radius-s, 0.2rem);
      padding: var(--space-3xs, 0.25rem);
      font-size: var(--size-step--1, small);
    }
  }

  /* Ordinals */

  tr:has(td[data-cell-type="ordinal"]) {
    transition:
      top 125ms ease-in-out,
      transform 125ms ease-in-out;
  }

  tr:has(td[data-cell-type="ordinal"])[dragging] {
    transition: transform 125ms ease-in-out;
    filter: drop-shadow(0 0 0.5rem var(--color-tint, #f0ecf3));
    transform: scale(1.01);

    td {
      box-shadow: none;
    }
  }

  th[data-cell-type="ordinal"] {
    width: 2rem;
    padding-left: 0;

    a {
      width: 2rem;
      height: 3rem;
    }

    a::after {
      margin-left: 0.4rem;
    }
  }

  td[data-cell-type="ordinal"] {
    width: 2rem;
    padding-left: 0;
    cursor: grab;
    text-align: center;
  }

  /* Numbers */

  :where([data-cell-type="number"]) {
    --cell-text-align: right;
  }

  /* Select */

  :where([data-cell-type="selection"]) {
    --cell-width: 2rem;

    label {
      display: block;
    }
  }

  /* Sorting */

  a:is(.sortable) {
    color: currentColor;
    text-decoration: none;
  }

  a:is(.sortable)::after {
    content: "";
    display: inline-block;
    aspect-ratio: 1;
    height: 1.5ex;
    line-height: 1;
    background: none;
    background-size: contain;
    transform: translateY(0.1ex);
    margin-inline-start: var(--space-2xs, 0.5rem);
  }

  a:is(.sortable):hover::after,
  a:is(.sortable):focus-visible::after,
  [data-sort="asc"] a:is(.sortable)::after,
  [data-sort="desc"] a:is(.sortable):hover::after,
  [data-sort="desc"] a:is(.sortable):focus-visible::after {
    background: currentColor;
    -webkit-mask: url("/katalyst/tables/icons/sort-asc.svg") no-repeat center;
    mask: url("/katalyst/tables/icons/sort-asc.svg") no-repeat center;
  }

  [data-sort="desc"] a:is(.sortable)::after,
  [data-sort="asc"] a:is(.sortable):hover::after,
  [data-sort="asc"] a:is(.sortable):focus-visible::after {
    background: currentColor;
    -webkit-mask: url("/katalyst/tables/icons/sort-desc.svg") no-repeat center;
    mask: url("/katalyst/tables/icons/sort-desc.svg") no-repeat center;
  }

  /* Width and wrapping */

  /* weakly set the width, allowing overrides */
  :where([data-width]) {
    overflow: hidden;
    width: calc(var(--cell-width) - 2 * var(--space-2xs));
    max-width: calc(var(--cell-width) - 2 * var(--space-2xs));
    /* numerical values are supported in chrome but not safari or firefox */
    --cell-width: calc(attr(data-width cqi));
  }

  [data-nowrap] {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  [data-scroll] {
    overflow: scroll;
  }

  [data-width="tiny"] {
    --cell-width: 8.33cqi; /* 1/12 of the table's container space */
  }

  [data-width="small"] {
    --cell-width: 16.7cqi; /* 1/6 of the table's container space */
  }

  [data-width="medium"] {
    --cell-width: 25cqi; /* 1/4 of the table's container space */
  }

  [data-width="large"] {
    --cell-width: 33.3cqi; /* 1/3 of the table's container space */
  }
}
