<h1><%= @person.name %></h1>
<%= link_to "People", people_path %>

<%= summary_table_with(model: @person) do |row, person| %>
  <% row.text :name %>
  <% row.boolean :active %>
  <% row.date :created_at, relative: person&.active %>
  <% row.datetime :created_at %>
  <% row.number :id %>
  <% row.currency :id, label: "Currency" %>
<% end %>
