<%# locals: { collection: } %>

<% content_for(:head) do %>
  <meta name="turbo-refresh-method" content="morph">
  <meta name="turbo-refresh-scroll" content="preserve">
<% end %>

<h1>Faqs</h1>
<%= link_to "Home", root_path %>

<%= table_with(collection:) do |row| %>
  <% row.ordinal %>
  <% row.text :question, heading: true %>
  <% row.text :answer %>
<% end %>
<%= table_orderable_with(collection:, url: order_faqs_path) %>
