<% content_for(:head) do %>
  <meta name="turbo-refresh-method" content="morph">
  <meta name="turbo-refresh-scroll" content="preserve">
<% end %>

<h1>Faqs</h1>
<%= link_to "Home", root_path %>

<% table = Katalyst::TableComponent.new(id: dom_id(Resource, "list"), collection: @faqs)
   table.extend(Katalyst::Tables::Orderable)
   table.with_orderable(url: order_faqs_path) %>

<%= render table do |row, faq| %>
  <% row.html_attributes = { id: dom_id(faq) } if row.body? %>

  <% row.ordinal %>
  <% row.cell :question %>
  <% row.cell :answer %>
<% end %>

<%= render table.orderable %>
